@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --green:#27ae60;
   --orange:#f39c12;
   --red:#e74c3c;
   --black:#333;
   --light-color:#666;
   --white:#fff;
   --light-bg:#f6f6f6;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   color:var(--black);
}

*::selection{
   background-color: var(--green);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--green);
}


body {
    background-color: var(--light-bg);
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}


section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn,
.delete-btn,
.option-btn {
    width: 100%;
    display: block;
    margin-top: 1rem;
    border-radius: .5rem;
    color: var(--white);
    font-size: 2rem;
    padding: 1.3rem 3rem;
    text-transform: capitalize;
    cursor: pointer;
}

.btn {
    background-color: var(--green);
}

.delete-btn {
    background-color: var(--red);
}

.option-btn {
    background-color: var(--orange);
}


.btn:hover,
.delete-btn:hover,
.option-btn:hover {
    background-color: var(--black);
}

.message {
    position: sticky;
    top: 0;
    max-width: 1200px;  /*largura máxima*/
    margin: 0 auto;
    background-color: var(--light-bg);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    z-index: 10000;
}


.message span {
    font-size: 2rem;
    color: var(--black);
}


.message i {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--red);
}


.message i {
    color: var(--black);
}



/* ======= Register Form/Formulário de Registro ======= */
.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-container form {
    width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2rem;
}

.form-container form h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--black);
    text-transform: uppercase;
    text-align: center; /*drp*/
}


.form-container form .box {
    width: 100%;
    font-size: 1.8rem;
    margin: 1rem 0;
    color: var(--black);
    border: var(--border);
    padding: 1.2rem 1.4rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
}


.form-container form p {
    font-size: 2.2rem;
    margin-top: 2rem;
    color: var(--light-color);
}


.form-container form p a {
    color: var(--green);
}


.form-container form p a:hover {
    text-decoration: underline;
}




























/* ======= / ======= */
/* ======= / ======= */



















/* ======= Responsive/Responsividade ======= */
@media (max-width: 1200px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 991px){

    html {
        font-size: 55%;
    }

    
}


@media (max-width: 768px){

    html {
        font-size: 50%;
    }
     

}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}



/*
Comentários

1 rem é equivalente á 16px , então 1.25rem seria 20px

*/